* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.transaction-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}
.expense-box, .income-box {
  flex: 1;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #fff;
  
}
.balance{
  font-weight: 500;
}
.add-btn{
  cursor: pointer;
  background-color: rgb(68, 230, 16);
  color: rgb(255, 255, 255);
  padding: 7px 20px;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
}

.trans-item{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e6e8e9;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}